<link rel="stylesheet" href="./css/login/cadastrar.css">
<% 
var classeErro={ nome: "" , nascimento: "" , cpf:"", contato:"", usuario:"", email:"", senha:"" } 
var msgErro={
    nome: "" , nascimento: "" , cpf:"", contato:"", usuario:"", email:"", senha:"" } 
    
    if(erros) {
    erros.errors.forEach(error=>{
    classeErro[error.path] = 'invalid';
    msgErro[error.path] = error.msg
    })
    }
    %>
    <article class="fundo__login">
        <figure class="logo-login">
            <img src="./img/quasart_logo_branca.png" alt="logo do Quasart">
        </figure>
    </article>

    <article class="container__form">
        <header class="form__title">
            <h2 class="title">CADASTRAR-SE</h2>
            <h3 class="subtitle">Venha se tornar um de nossos tripulantes!</h3>
        </header>
        <form action="/criarConta" method="post">
            <article class="input__container <%= classeErro.nome  %>">

                <span class="invalid-msg smallText">
                    <%= msgErro.nome %>
                </span>

                <input type="text" name="nome" id="nome" class="input__control" placeholder="Nome completo" required>
                <label for="nome">Nome completo</label>
            </article>
            <article class="input__container <%= classeErro.nascimento  %>">
                <span class="invalid-msg smallText">
                    <%= msgErro.nascimento %>
                </span>
                <input type="date" name="nascimento" id="nascimento" class="input__control"
                    placeholder="Data de nascimento" required>
                <label for="nascimento">Data de nascimento</label>
            </article>
            <article class="input__container <%= classeErro.cpf  %>">
                <span class="invalid-msg smallText">
                    <%= msgErro.cpf %>
                </span>
                <input type="text" name="cpf" id="cpf" class="input__control" placeholder="cpf" maxlength="11" required>
                <label for="cpf">Digite seu CPF (XXX.XXX.XXX-XX)</label>
            </article>
            <article class="input__container <%= classeErro.contato  %>">
                <span class="invalid-msg smallText">
                    <%= msgErro.contato %>
                </span>
                <input type="tel" name="contato" id="contato" class="input__control" placeholder="contato"
                    maxlength="14" required>
                <label for="contato">Digite seu número de telefone</label>
            </article>
            <article class="input__container <%= classeErro.usuario  %>">
                <span class="invalid-msg smallText">
                    <%= msgErro.usuario %>
                </span>
                <input type="text" name="usuario" id="usuario" class="input__control" placeholder="Usuário" required>
                <label for="usuario">Crie seu Usuário</label>
            </article>
            <article class="input__container <%= classeErro.email  %>">
                <span class="invalid-msg smallText">
                    <%= msgErro.email %>
                </span>
                <input type="email" name="email" id="email" class="input__control" placeholder="email" required>
                <label for="email">Digite seu E-mail</label>
            </article>
            <article class="input__container <%= classeErro.senha  %> senha">
                <span class="invalid-msg smallText">
                    <%= msgErro.senha %>
                </span>
                <input type="password" name="senha" id="senha" class="input__control" placeholder="Senha" required>
                <button class="ocultSenha btn"><i class="bi bi-eye"></i></button>
                <label for="senha">Senha</label>
            </article>
            <article class="links">
                <a class="link" href="/entrar">Já tem uma conta?</a>
            </article>
            <button class="btn submit text p-2 mt-3">Entrar</button>
        </form>
    </article>