<link rel="stylesheet" href="./css/login/entrar.css">
<% var classeErro={usuario:"",senha:"" } 
var msgErro={ usuario:"", senha:"" } 

if(erros) { erros.errors.forEach(error=>{
    classeErro[error.path] = 'invalid';
    msgErro[error.path] = error.msg
    })
    }
    %>
    <article class="fundo__login">
        <figure class="logo-login">
            <img src="./img/quasart_logo_branca.png" alt="logo do Quasart">
        </figure>
    </article>
    <article class="container__form">
        <header class="form__title">
            <h2 class="title">LOGIN</h2>
            <h3 class="subtitle">Seja bem-vindo novamente tripulante!</h3>
        </header>
        <form action="/logarConta" method="post">
            <article class="user-incorrect <%= incorreto %>">
                <p class="text">Usuário ou senha incorretos! Tente novamente...</p>
            </article>
            <article class="input__container <%= classeErro.usuario %>">
                <input type="text" name="usuario" id="usuario" class="input__control" placeholder="Usuário" required
                    maxlength="30">
                <label for="usuario">Usuário:</label>
                <span class="invalid-msg smallText">
                    <%= msgErro.usuario %>
                </span>
            </article>
            <article class="input__container <%= classeErro.senha %> senha">
                <input type="password" name="senha" id="senha" class="input__control" placeholder="Senha" required
                    maxlength="50">
                <button class="ocultSenha btn"><i class="bi bi-eye"></i></button>
                <label for="senha">Senha:</label>
                <span class="invalid-msg smallText">
                    <%= msgErro.senha %>
                </span>
            </article>
            <article class="links">
                <a class="link" href="/esqueceuSenha">Esqueceu a senha?</a>
                <a class="link" href="/cadastrar">Não tem cadastro?</a>
            </article>

            <button class="btn submit text p-2 mt-3">Entrar</button>
        </form>
    </article>