<!DOCTYPE html>
<html lang="pt-br" id="inicio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart-logo-pequena.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/home/home.css">
</head>
<%  
    var tituloPage=""; 

    if(pageClass=="index" ){ 
        tituloPage="Editar perfil" 
    }else if(pageClass=="dadosPessoais" ){
        tituloPage="Dados pessoais" 
    }else if(pageClass=="security" ){
        tituloPage="Senha e segurança" 
    }
%>

    <body>
        <% if(token) {%>
            <h4 class="token-alert link <%= token.type %>">
                <%= token.msg %>
            </h4>
        <% } %>
        <header class="header__edit-profile">
            <a href="<%=pageClass == 'index'?'/profile':'/edit-profile' %>" 
            class="btn homebtn"><i class="bi bi-arrow-left"></i></a>
            <h1 class="supertitle">
                <%= tituloPage %>
            </h1>
        </header>
        <main class="main__edit-profile">
            <section class="index__container">
                <header class="header__user">
                    <h3 class="subtitle">
                        <%= usuario.NICKNAME_USUARIO %>
                    </h3>
                    <article class="foto__perfil <%= pageClass == 'index' ? 'mudar__foto-btn' : '' %>" data-openmodal="#mudarFotoModal">
                        <img src="./img/imagens-servidor/perfil/<%= usuario.CAMINHO_FOTO %>"
                            alt="foto de perfil do usuário">
                    </article>
                </header>
                <section class="menu__index">
                    <%- include(page) %>
                </section>
            </section>

        </main>

    </body>

</html>