<!DOCTYPE html>
<html lang="pt-br" id="inicio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart_logo_pequena.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/home/home.css">
</head>

<body>
    <% 
        var tituloPagina = ''
         if (classePagina === "perfil") { 
            tituloPagina = "Área de perfil";
           } else if (classePagina === "pesquisar") { 
            tituloPagina = "Pesquisar";
           } else if (classePagina === "inicialHome") { 
            tituloPagina = "Página Inicial";
           } else if (classePagina === "videos") { 
            tituloPagina = "Vídeos";
           } else if (classePagina === "publicar") { 
            tituloPagina = "Área de Publicação";
           } else if(classePagina === "assinatura"){
            tituloPagina = "Planos de Assinaturas";
           }
           else { 
            tituloPagina = "";
           } 
          
        %>
    <header class="home__header">
        <nav class="nav__home">
            <a href="/home" class="logo link">
                <img src="./img/quasart_logo.png" alt="logotipo da plataforma Quasart">
                <h1 class="tipografia">Quas<span style="color: var(--cor-principal);">Art</span></h1>
            </a>

            <article class="nav__btns">
                <button class="btn-icon ms-1 me-1" id="btnMode"><i class="bi bi-brightness-high"></i></button>
                <button class="btn-icon ms-1 me-1" id="access" title="Acessibilidade"><i
                        class="bi bi-universal-access-circle"></i></button>
                <a href="/plus-page" class="btn link ms-2 plus-btn">
                    <p class="me-2">Experimente o PLUS</p><i class=" bi bi-rocket-takeoff-fill"></i>
                </a>
                <article class="access__container" id="accessContainer">
                    <article class="access__content">
                        <button class="access__link link pt-2" id="aumentar"><i class="bi bi-plus"></i>Aumentar
                            fonte
                        </button>
                        <button class="access__link link" id="diminuir"><i class="bi bi-dash"></i>Diminuir fonte
                        </button>
                        <button class="access__link link" id="sublinhar"><i class="bi bi-link"></i>Sublinhar
                            links</button>
                        <button class="access__link link" id="facil"><i class="bi bi-alphabet"></i>Tipografia
                            fácil</button>
                        <button class="access__link link pb-2" id="reset"><i
                                class="bi bi-arrow-counterclockwise"></i>Reiniciar</button>
                    </article>
                </article>
            </article>

        </nav>
    </header>
    <aside class="home__aside">
        <section class="aside__content">
            <ul class="aside__items">
                <li class="aside__item <%= classePagina == 'pesquisar' ? 'ativo ': '' %>"><a href="/pesquisar"><i
                            class="bi bi-search"></i></a></li>
                <li class="aside__item <%= classePagina == 'inicialHome' ? 'ativo ': '' %>"><a href="/home"><i
                            class="bi bi-house"></i></a></li>
                <li class="aside__item <%= classePagina == 'videos' ? 'ativo ': '' %>"><a href="/videos"><i
                            class="bi bi-camera-video"></i></a></li>
                <li class="aside__item <%= classePagina == 'publicar' ? 'ativo ': '' %>"><a href="/publicar"><i
                            class="bi bi-plus-circle-dotted"></i></a></li>
                <li class="aside__item <%= classePagina == 'perfil' ? 'ativo ': '' %> perfil-item"><a
                        href="/profile"><img src="./img/perfil-padrao.webp" alt="imagem do usuário"></a></li>
            </ul>
        </section>
    </aside>
    <main class="home__content">
        
        <h1 class="supertitle" style="color:var(--cor-texto); text-align: center;"><%= tituloPagina %></h1>
        <%- include(page) %>
            <a href="#inicio" class="btn back-btn"><i class="bi bi-arrow-up-circle"></i></a>
    </main>
    <footer class="home__footer">
        <header class="footer__header">
            <a href="/home" class="logo">
                <img src=".//img/quasart_logo.png" alt="Logotipo do Quasart">
                <h1 class="tipografia">Quas<span style="color:var(--cor-principal);">Art<span></h1>
            </a>
            <article class="redes">
                <a target="_blank" href="https://instagram.com/oficial_quasart?igshid=MzRlODBiNWFlZA=="
                    class="rede-item"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://github.com/Th0mzzz/QuasArt" class="rede-item"><i
                        class="bi bi-github"></i></a>
                <a target="_blank" href="mailto:quasartcontato@gmail.com" class="rede-item"><i
                        class="bi bi-envelope"></i></a>
            </article>
        </header>
        <article class="footer__content">
            <ul class="footer__list mt-3">
                <h3 class="subtitle mb-2">Páginas</h3>
                <li><a class="link" href="/home">Página Inicial</a></li>
                <li><a class="link" href="/publicar">Publicar</a></li>
                <li><a class="link" href="/videos">Vídeos</a></li>
                <li><a class="link" href="/profile">Perfil</a></li>
            </ul>
            <ul class="footer__list mt-3">
                <h3 class="subtitle mb-2">Informações</h3>
                <li><a class="link" target="_blank" href="/">Sobre o QuasArt</a></li>
                <li><a class="link" target="_blank" href="https://fiebedu.sharepoint.com/sites/Moonvies
                    ">Sharepoint</a></li>
            </ul>
        </article>
        <p class="text">&COPY;Quasart 2024</p>
    </footer>
    <script src="./js/carousel.js"></script>
    <script src="./js/colorMode.js"></script>
    <script src="./js/access.js"></script>
    <script src="./js/backToTop.js"></script>
</body>

</html>