<!DOCTYPE html>
<html lang="pt-br" id="inicio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart-logo-pequena.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/home/home.css">
</head>

<body>
    <% if(token){%>
        <h4 class="token-alert link <%= token.type %>">
            <%= token.msg %>
        </h4>
    <% } %>
    <main>
        <section class="videos__btns">
            <a href="/" class="btn"><i class="bi bi-house"></i></a>
            <button class="btn-icon ms-1 me-1" id="btnMode"><i class="bi bi-brightness-high"></i></button>
            <button class="btn-icon ms-1 me-1" id="access" title="Acessibilidade">
                <i class="bi bi-universal-access-circle"></i>
            </button>
            <article class="access__container" id="accessContainer">
                <article class="access__content">
                    <button class="access__link link pt-2" id="aumentar"><i class="bi bi-plus"></i>Aumentar
                        fonte
                    </button>
                    <button class="access__link link" id="diminuir"><i class="bi bi-dash"></i>Diminuir fonte
                    </button>
                    <button class="access__link link" id="sublinhar"><i class="bi bi-link"></i>Sublinhar
                        links</button>
                    <button class="access__link link" id="facil"><i class="bi bi-alphabet"></i>Tipografia
                        f치cil</button>
                    <button class="access__link link pb-2" id="reset"><i
                            class="bi bi-arrow-counterclockwise"></i>Reiniciar</button>
                </article>
            </article>
        </section>

        <section class="view__container videos-view">
            <section class="row__videos-container vertical-carousel__container">
                <section class="row__videos">
                    <article data-verticalCard>
                        <article class="video__card">
                            <header class="video__btns">
                                <button class="previous video-arrows">
                                    <i class="bi bi-arrow-up"></i>
                                </button>
                                <form action="/curtirVideo?idVideo=<%= video.ID_VIDEOS %>" method="post"
                                    class="curtirBtn__container">
                                    <% if(isCurtido) {%>
                                        <button class="video-btn" title="Curtido">
                                            <i class="bi bi-heart-fill"></i>
                                        </button>
                                        <%} else {%>
                                            <button class="video-btn" title="Curtir">
                                                <i class="bi bi-heart"></i>
                                            </button>
                                            <%}%>
                                                <p class="text mt-1">
                                                    <%= video.curtidas %>
                                                </p>
                                </form>
                                <button class="video-btn btnOpenComments"><i class="bi bi-chat"></i></button>
                                <button class="video-btn"><i class="bi bi-share"></i></button>
                                <button class="next video-arrows">
                                    <i class="bi bi-arrow-down"></i>
                                </button>
                            </header>
                            <video src="./img/imagens-servidor/videos/<%= video.CAMINHO_VIDEO %>" controls></video>
                        </article>
                    </article>

                </section>
            </section>
            <section class="video__info" id="videoComments">
                <section class="video__info-content">
                    <button id="btnCloseComments" class="btn-close btn secundaria"><i
                            class="bi bi-arrow-bar-left"></i></button>

                    <header class="video__desc">
                        <section class="row user mb-2">
                            <a href="/profile?idUser=<%= video.autor.ID_USUARIO %>" class="userLink link">
                                <img src="./img/imagens-servidor/perfil/<%= video.autor.CAMINHO_FOTO %>"
                                    alt="foto do autor" class="userImg">
                                <%= video.autor.NICKNAME_USUARIO %>
                            </a>
                            <button class="btn">Seguir</button>
                        </section>
                        <article class="desc mb-2">
                            <h3 class="subtitle mb-2">
                                <%= video.NOME_VIDEO %>
                            </h3>

                            <p class="text">
                                <%= video.DESCR_VIDEO %>
                            </p>
                        </article>
                        <article id="tagsContainer">
                            <% if(video.tags){ video.tags.forEach(tag=>{ %>
                                <span class="tag text">
                                    <%= tag %>
                                </span>
                                <% }) } %>
                        </article>
                    </header>
                    <section class="video__comments">
                        <h2 class="subtitle">Coment치rios</h2>
                        <button class="denunciar-btn link ml-auto" data-openmodal="#denunciarModal"><i
                                class="bi bi-exclamation-triangle"></i> Denunciar</button>

                        <article class="comments">
                            <% if(comentarios) { comentarios.forEach(comentario=> { %>

                                <article class="comment">
                                    <img src="./img/imagens-servidor/perfil/<%= comentario.usuario.CAMINHO_FOTO %>"
                                        alt="foto de perfil" class="user__img">
                                    <article class="texto">
                                        <h4 class="link user-nick">
                                            <%= comentario.usuario.NICKNAME_USUARIO %>
                                        </h4>
                                        <p class="text">
                                            <%= comentario.COMENTARIO_AVALIACAO %>
                                        </p>
                                    </article>
                                </article>
                                <% }) } %>




                        </article>
                        <footer class="video__form">
                            <form action="/comentarVideo?idVideo=<%=video.ID_VIDEOS %>" method="post">
                                <article class="input__container senha">
                                    <input type="text" class="form__control" name="comentario" id="comentario"
                                        placeholder="Deixe seu coment치rio!" required> 
                                    <label for="comentario">Deixe seu coment치rio</label>
                                    <button type="submit" class="btn-comment ocultSenha"><i
                                            class="bi bi-send"></i></button>
                                </article>

                            </form>
                        </footer>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <section class="denunciar__modal modal" id="denunciarModal">
        <button class="closeBtn btn"><i class="bi bi-x-lg"></i></button>
        <section class="modal__content">
            <h3 class="subtitle"><i class="bi bi-exclamation-triangle"></i> Denunciar video</h3>

            <form action="/denunciarVideo?idVideo=<%= video.ID_VIDEOS %>" method="post">
                <%- include("../partial/template-home/denunciar-modal") %>
                    <button type="submit" class="btn mt-2">Denunciar</button>
            </form>
        </section>
    </section>
    <script src="./js/abrirModal.js"></script>
    <script src="./js/commentVideo.js"></script>
    <script src="./js/colorMode.js"></script>
    <script src="./js/access.js"></script>
    <script src="./js/verticalCarousel.js"></script>

</body>

</html>