<% 
let classeErro={ 
    titulo:"",
    textoResenha:"",
    descricao:"",
    capaResenha:""
} 
let msgErro= {
    titulo:"",
    textoResenha:"",
    descricao:"",
    capaResenha:""
  } 
    
    if(erros) {
      erros.errors.forEach(error=>{
        classeErro[error.path] = 'invalid';
        msgErro[error.path] = error.msg
      })
    }
%>

<script src="./js/criarTag.js" defer></script>
<script src="./js/addCapa.js" defer></script>

<header class="form__row">

    <article class="input__container input-file <%= classeErro.capaResenha %>" data-capaContainer>
        <% if(valores && valores.capaResenha){ %>
            <img src="./img/imagens-servidor/capas-img/<%= valores.capaResenha %>" alt="" class="capa__img">
        <% } %>
        <span class="invalid-msg smallText">
            <%= msgErro.capaResenha %>
        </span>
        <% if(valores && valores.capaResenha){ %>
            <input type="file" name="capaResenha" id="capaResenha" class="input__control capaResenha" placeholder="" data-inputCapa>
        <% } else { %> 
            <input type="file" name="capaResenha" id="capaResenha" class="input__control capaResenha" placeholder="" data-inputCapa required>
        <% } %> 
        <label for="capaResenha">Selecione a imagem da Resenha</label>
        <label for="capaResenha" class="icon"><i class="bi bi-download"></i></label>
    </article>
    <section>

        <article class="input__container <%= classeErro.titulo  %>">
            <span class="invalid-msg smallText">
                <%= msgErro.titulo %>
            </span>
            <input type="text" name="titulo" id="titulo" class="input__control" placeholder="Título do video" required value="<%= valores? valores.titulo : '' %>">
            <label for="titulo">Título do Resenha Cósmica</label>
        </article>
        <article class="input__container <%= classeErro.descricao %>">
            <span class="invalid-msg smallText">
                <%= msgErro.descricao %>
            </span>
            <textarea name="descricao" id="descricao" placeholder="A" maxlength="400"><%= valores? valores.descricao : '' %></textarea>
            <label for="descricao">Descrição</label>
        </article>
        <article class="input__container">
            <span class="invalid-msg smallText">
                Limite de tags atingido!
            </span>
            <input type="text" name="tagsInput" id="tagsInput" class="tagInput" placeholder="" maxlength="20">
            <label for="tags">Digite as Hashtags da sua resenha</label>
        </article>
        <div id="tagsContainer">
            <% if(tags){ %>
                <script>
                    var tagsTexts = "<%= tags %>".split(",")

                    tagsTexts.forEach(tag =>{
                        const article = document.createElement('article');
                    article.classList.add("tag")
                    article.classList.add("text")
                    article.textContent = `${tag}`;

                    const closeBtn = document.createElement('span');
                    closeBtn.innerHTML = '<i class="bi bi-x-lg"></i>';
                    closeBtn.addEventListener('click', function () {
                        article.remove();
                        input.remove();
                    });

                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'tags[]';
                    input.value = `${tag}`;

                    article.appendChild(closeBtn);
                    tagsContainer.appendChild(article);
                    tagsContainer.appendChild(input);
                    })
                </script>
                <% } %>
        </div>
    </section>
</header>
<article class="input__container <%= classeErro.textoResenha  %>">
    <span class="invalid-msg smallText">
        <%= msgErro.textoResenha %>
    </span>
    <textarea name="textoResenha" id="textoResenha" placeholder="Digite sua resenha aqui!"
        maxlength="6600"><%= valores? valores.textoResenha : '' %></textarea>
    <label for="textoResenha">Digite sua Resenha aqui!</label>
</article>

<script>
    function ajustarProporcao(elemento, proporcao) {
       
        const largura = elemento.offsetWidth;
        const altura = largura / proporcao;
        elemento.style.height = `${altura}px`;
    }

    
    const inputProp = document.querySelector('.input-file');


    const proporcao = 3 / 1;

    
    ajustarProporcao(inputProp, proporcao);

    window.addEventListener('resize', () => ajustarProporcao(inputProp, proporcao));
</script>