<% 
let classeErro={ 
    titulo:"",
    textoResenha:"",
    descricao:""
} 
let msgErro= {
    titulo:"",
    textoResenha:"",
    descricao:""
  } 
    
    if(erros) {
      erros.errors.forEach(error=>{
        classeErro[error.path] = 'invalid';
        msgErro[error.path] = error.msg
      })
    }
%>

<section class="form__pub-container">
    <h2 class="title">Criar <span class="negrito-roxo">Resenha Cósmica</span></h2>
    <form action="/criarResenha" class="form__pub resenha" method="post" enctype="multipart/form-data">
        <header class="form__row">

            <article class="input__container input-file" data-capaContainer>
                <span class="invalid-msg smallText">
                </span>
                <input type="file" name="capaResenha" id="capaResenha" class="input__control capaResenha" placeholder="" required data-inputCapa>
                <label for="capaResenha">Selecione a imagem da Resenha</label>
                <label for="capaResenha" class="icon"><i class="bi bi-download"></i></label>
            </article>
            <section>

                <article class="input__container <%= classeErro.titulo  %>">
                    <span class="invalid-msg smallText">
                        <%= msgErro.titulo %>
                    </span>
                    <input type="text" name="titulo" id="titulo" class="input__control"
                        placeholder="Título do video" required value="<%= valores? valores.titulo : '' %>">
                    <label for="titulo">Título do Resenha Cósmica</label>
                </article>
                <article class="input__container <%= classeErro.descricao %>">
                    <span class="invalid-msg smallText">
                        <%= msgErro.descricao %>
                    </span>
                    <textarea name="descricao" id="descricao" placeholder="A" maxlength="400"></textarea>
                    <label for="descricao">Descrição</label>
                </article>
                <article class="input__container">
                    <span class="invalid-msg smallText">
                        Limite de tags atingido!
                    </span>
                    <input type="text" name="tagsInput" id="tagsInput" class="tagInput" placeholder="" maxlength="20">
                    <label for="tags">Digite as Hashtags da sua resenha</label>
                </article>
                <div id="tagsContainer"></div>
            </section>
        </header>
        <article class="input__container <%= classeErro.textoResenha  %>">
            <span class="invalid-msg smallText">
                <%= msgErro.textoResenha %>

            </span>
            <textarea name="textoResenha" id="textoResenha" placeholder="Digite sua resenha aqui!" maxlength="6600" ><%= valores? valores.textoResenha : '' %></textarea>
            <label for="textoResenha">Digite sua Resenha aqui!</label>
        </article>
        <button class="btn submit secundaria p-2">Publicar</button>
    </form>
</section>
<script src="./js/criarTag.js"></script>
<script src="./js/addCapa.js"></script>
