<% 
let classeErro={ 
    tituloVideo:"",
    descricao:"",
    capaVideo:"",
    video:""
} 
let msgErro= {
    tituloVideo:"",
    descricao:"",
    capaVideo:"",
    video:""
  } 
    
    if(erros) {
      erros.errors.forEach(error=>{
        classeErro[error.path] = 'invalid';
        msgErro[error.path] = error.msg
      })
    }
%>

<section class="form__pub-container">
    <h2 class="title">Criar <span class="negrito-roxo">ViaVideo</span></h2>
    <form action="/criarVideo" class="form__pub" method="post" enctype="multipart/form-data">
        <header class="form__row">
            <article class="input__container input-file <%= classeErro.capaVideo %>" data-capaContainer>
                <span class="invalid-msg smallText">
                    <%= msgErro.capaVideo %>
                </span>
                <input type="file" name="capaVideo" id="capaVideo" class="input__control" placeholder="Título do video"
                    required data-inputCapa>
                <label for="capaVideo">Selecione a capa do vídeo</label>
                <label for="capaVideo" class="icon"><i class="bi bi-download"></i></label>
            </article>
            <section>

                <article class="input__container <%= classeErro.tituloVideo %>">
                    <span class="invalid-msg smallText">
                        <%= msgErro.tituloVideo %>
                    </span>
                    <input type="text" name="tituloVideo" id="tituloVideo" class="input__control"
                        placeholder="Título do video" required value="">
                    <label for="tituloVideo">Título do vídeo</label>
                </article>
                <article class="input__container <%= classeErro.descricao %>">
                    <span class="invalid-msg smallText">
                        <%= msgErro.descricao %>
                    </span>
                    <textarea name="descricao" id="descricao" placeholder="A" maxlength="400"></textarea>
                    <label for="descricao">Descrição</label>
                </article>
                <article class="input__container">
                    <span class="invalid-msg smallText">
                        Limite de tags atingido!
                    </span>
                    <input type="text" name="tagsInput" id="tagsInput" class="tagInput" placeholder="" maxlength="30">
                    <label for="tags">Digite as Hashtags do seu video</label>
                </article>
                <div id="tagsContainer"></div>
            </section>
        </header>
        <section class="video__section">
            <article class="input__container input-file <%= classeErro.video %>" data-videoContainer>
                <span class="invalid-msg smallText">
                    <%= msgErro.video %>
                </span>
                <input type="file" name="video" id="video" class="input__control"
                    placeholder="Título do video" required data-inputVideo>
                <label for="video">Adicionar Vídeo</label>
                <label for="video" class="icon"><i class="bi bi-download"></i></label>

            </article>
            <article class="video__container" >
            </article>
        </section>
        <button class="btn submit secundaria p-2">Publicar</button>
    </form>
</section>
<script src="./js/criarTag.js"></script>
<script src="./js/addVideo.js"></script>
<script src="./js/addCapa.js"></script>