<!-- Area de perfil que é incluida no template -->


<section class="area__perfil">
    <header class="header__perfil">
        <% if(isUser) {%>
            <a href="/sair" class="btn exit-btn" title="Sair"><i class="bi bi-box-arrow-left"></i></a>
            <% } %>

                <article class="foto__perfil">
                    <img src="./img/imagens-servidor/perfil/<%= usuario.CAMINHO_FOTO %>"
                        alt="foto de perfil do usuário">
                </article>

                <h3 class="subtitle">
                    <%= usuario.NICKNAME_USUARIO %>
                </h3>
                <article class="row-items">
                    <% if(isUser) {%>
                        <a href="/edit-profile" class="btn mt-2 link">Editar</a>
                        <% } else { %>
                            <button class="btn mt-2 link">Seguir</button>
                            <% } %>

                                <section class="estatisticas__usuario">

                                    <article class="item">
                                        <p class="link">Postagens</p>
                                        <h3 class="subtitle"><%= estatisticas.postagens %></h3>
                                    </article>
                                    <article class="item">
                                        <p class="link">Seguidores</p>
                                        <h3 class="subtitle">40</h3>
                                    </article>
                                    <article class="item">
                                        <p class="link">Curtidas</p>
                                        <h3 class="subtitle">1K</h3>
                                    </article>
                                </section>
                </article>

    </header>
    <section class="postagens__perfil">

        <article class="btns-section">
            <button class="btn-section link ativo" data-btnSection="fichas" title="fichas"><i
                    class="bi bi-grid"></i></button>
            <button class="btn-section link" data-btnSection="resenhas" title="resenhas"><i
                    class="bi bi-card-text"></i></button>
            <button class="btn-section link" data-btnSection="videos" title="videos"><i
                    class="bi bi-camera-video"></i></button>
        </article>
        <section class="postagens__section ativo" data-section="fichas">
            <h3 class="title">Fichas</h3>
            <section class="conteudo-row p-1">
                <% if(posts && posts.fichas != null){
                    posts.fichas.forEach(function(ficha){ %>
                <article class="card__ficha">
                <% if(isUser) {%>
                    <a href="attFicha?idFicha=<%=ficha.ID_OBRA %>" class="editIcon btn"><i class="bi bi-pencil"></i></a>
                <%}%>

                    <a href="view-ficha?idFicha=<%=ficha.ID_OBRA %>" class="card__content">
                        <img src="./img/imagens-servidor/capas-img/<%= ficha.CAMINHO_CAPA %>" alt="imagem da ficha">
                        <article class="card-title">
                            <h4 class="subtitle"><%= ficha.NOME_OBRA %></h4>
                        </article>
                    </a>
                    <footer class="card__autor">
                        <p class="text"><%= ficha.DATA_FICHA %></p>
                    </footer>
                </article>
                <% })
            }else{ %> 
                <h4 class="text" style="color: var(--cor-texto); margin: auto;">Este usuário não postou nenhuma ficha.</h4>
                <% } %>
            </section>
        </section>
        <section class="postagens__section " data-section="resenhas">
            <h3 class="title">Resenhas</h3>
            <section class="conteudo-row p-1">

                <% if(posts && posts.resenhas != null){

                    posts.resenhas.forEach(function(resenha){ %>

                        <article class="card__resenha">
                            <% if(isUser) {%>
                                <a href="attResenha?idResenha=<%=resenha.ID_RESENHAS %>" class="editIcon btn"><i class="bi bi-pencil"></i></a>
                            <%}%>
                            <header class="card__img">
                                <a href="/view-resenha?idResenha=<%= resenha.ID_RESENHAS %>">
                                    <img class="img__resenha" src="./img/imagens-servidor/capas-img/<%= resenha.CAPA_CAMINHO %>" alt="imagem da resenha">
                                </a>
                            </header>
                            <footer class="card__content">
                                <h5 class="link"><%= resenha.TITULO_RESENHA %></h5>
                                <p class="text mt-2"><%= resenha.DESCR_RESENHA.length > 120 ? resenha.DESCR_RESENHA.substring(0, 120) + '...' : resenha.DESCR_RESENHA %></p>
                                <a href="/view-resenha?idResenha=<%= resenha.ID_RESENHAS %>" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                            </footer>
                        </article>

                        <% })
                    }else{ %> 
                        <h4 class="text" style="color: var(--cor-texto); margin: auto;">Este usuário não postou nenhuma resenha.</h4>
             
                        <% } %>
            </section>
        </section>
        <section class="postagens__section " data-section="videos">
            <h3 class="title">Videos</h3>
            <section class="conteudo-row p-1">
                <% if(posts && posts.videos != null){

                    posts.videos.forEach(function(video){ %>

                        <article class="card__video">
                            <a href="/videos?idVideo=<%= video.ID_VIDEOS %>" class="card__content">
                                <img src="./img/imagens-servidor/capas-img/<%= video.CAPA_VIDEO %>" alt="imagem da ficha">
        
                                <header class="card-title">
                                    <h4 class="link"><i class="bi bi-play-fill me-1"></i>10K</h4>
                                </header>
                            </a>
                        </article>

                        <% })
                    }else{ %> 
                        <h4 class="text" style="color: var(--cor-texto); margin: auto;">Este usuário não postou nenhum vídeo.</h4>
             
                        <% } %>

               
            </section>
        </section>
    </section>
</section>
<script src="./js/toggleSection.js"></script>
<script src="./js/carousel.js"></script>

