<% if(resenha){ %>
    <section class="view__container resenha-view">
        <header class="resenha__header">
            <img src="./img/imagens-servidor/capas-img/<%= resenha.CAPA_CAMINHO %>" alt="imagem de capa da resenha"
                class="resenha__capa">
            <section class="row">
                <a href="/profile?idUser=<%= resenha.autor.ID_USUARIO %>" class="userLink link">
                    <img src="./img/imagens-servidor/perfil/<%=resenha.autor.CAMINHO_FOTO %>" alt="foto do autor"
                        class="userImg">
                    <%= resenha.autor.NICKNAME_USUARIO %>
                </a>
                <button class="btn">Seguir</button>
                <form action="/curtirResenha?idResenha=<%= resenha.ID_RESENHAS %>" class="estatistica" method="post">
                    <% if(isCurtido) {%>
                        <button class="btn secundaria curtido" data-curtirBtn title="Curtido">
                            <i class="bi bi-heart-fill"></i>
                        </button>
                        <%} else {%>
                            <button class="btn secundaria" data-curtirBtn title="Curtir">
                                <i class="bi bi-heart"></i>
                            </button>
                            <%}%>
                                <p class="text mt-1">
                                    <%= resenha.curtidas %>
                                </p>
                </form>
            </section>
        </header>
        <article class="resenha__content">
            <h2 class="title">
                <%= resenha.TITULO_RESENHA %>
            </h2>
            <section class="text__area">
                <p class="text">
                    <%= resenha.TEXTO_RESENHA %>
                </p>
            </section>
            <footer class="row">
                <article id="tagsContainer">
                    <% if(resenha.tags){ resenha.tags.forEach(tag=>{
                        if(tag != ""){%>
                        <span class="tag text">
                            <%= tag %>
                        </span>
                        <%} }) } %>

                </article>
                <!-- <article class="avaliacao__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </article> -->
            </footer>
            <button class="denunciar-btn link ml-auto" data-openmodal="#denunciarModal"><i
                    class="bi bi-exclamation-triangle"></i>Denunciar</button>
        </article>
        <footer class="comentarios__container">
            <h3 class="subtitle mb-2">Comentários</h3>
            <form action="/comentarResenha?idResenha=<%=resenha.ID_RESENHAS %>" class="comment__form" method="post">

                <article class="input__container">
                    <textarea name="textComment" id="textComment" class="form__control"
                        placeholder="Deixe seu comentário sobre!" maxlength="300" required></textarea>
                    <label for="textComment">Deixe seu comentário e sua avaliação!</label>
                </article>
                <article class="avaliacao__stars pt-1">
                    <span class="star"><i class="bi bi-star"></i></span>
                    <span class="star"><i class="bi bi-star"></i></span>
                    <span class="star"><i class="bi bi-star"></i></span>
                    <span class="star"><i class="bi bi-star"></i></span>
                    <span class="star"><i class="bi bi-star"></i></span>
                </article>
                <input type="hidden" name="avaliacao" id="avaliacaoInput">
                <button type="submit" class="btn secundaria mt-2">Comentar</button>
            </form>
            <section class="comentarios mt-3">
                <% if(comentarios) { comentarios.forEach(comentario=> { %>
                    <article class="comment__item">
                        <article class="row">
                            <a href="/profile?idUser=<%= comentario.usuario.ID_USUARIO %>" class="comment__user">
                                <img src="./img/imagens-servidor/perfil/<%= comentario.usuario.CAMINHO_FOTO %>"
                                    alt="foto de perfil do comentário" class="userImg">
                                <h4 class="link mt-2">
                                    <%= comentario.usuario.NICKNAME_USUARIO %>
                                </h4>
                            </a>
                            <p class="text">
                                <%= comentario.COMENTARIO_AVALIACAO %>
                            </p>
                        </article>
                        <article class="avaliacao__stars pt-1">
                            <% for (let i=1; i <=5; i++) { %>
                                <% if (i <=comentario.NOTA_AVALIACAO) { %>
                                    <i class="bi bi-star-fill"></i>
                                    <% } else { %>
                                        <i class="bi bi-star"></i>
                                        <% } %>
                                            <% } %>
                        </article>
                    </article>
                    <% }) } %>

            </section>
        </footer>
    </section>
    <% } %>

        <section class="denunciar__modal modal" id="denunciarModal">
            <button class="closeBtn btn"><i class="bi bi-x-lg"></i></button>
            <section class="modal__content">
                <h3 class="subtitle"><i class="bi bi-exclamation-triangle"></i> Denunciar resenha</h3>

                <form action="/denunciarResenha?idResenha=<%= resenha.ID_RESENHAS%>" method="post">
                    <%- include("./denunciar-modal") %>
                        <button type="submit" class="btn mt-2">Denunciar</button>
                </form>
            </section>
        </section>
        <script src="./js/abrirModal.js"></script>
        <script src="./js/input.js"></script>
        <script src="./js/curtirBtn.js"></script>

        <script>
            function ajustarProporcao(elemento, proporcao) {

                const largura = elemento.offsetWidth;
                const altura = largura / proporcao;
                elemento.style.height = `${altura}px`;
            }


            const inputProp = document.querySelector('.resenha__capa');


            const proporcao = 3 / 1;


            ajustarProporcao(inputProp, proporcao);

            window.addEventListener('resize', () => ajustarProporcao(inputProp, proporcao));
        </script>