<section class="denun-tables__btns mt-3">
    <button class="link btn ativo" data-btnSection="usuTable">Usuários</button>
    <button class="link btn" data-btnSection="reseTable">Resenhas</button>
    <button class="link btn" data-btnSection="fichaTable">Fichas</button>
    <button class="link btn" data-btnSection="vidTable">Videos</button>
</section>
<section class="tables__denuncias">

    <section data-section="usuTable" class="admTable__container denuncia-table ativo">
        <table id="denunciaUsuarioTable" class="display">
            <caption>Usuários denunciados</caption>
            <thead>
                <tr>
                    <th>ID denúncia</th>
                    <th>Tipo da denúncia</th>
                    <th>Descrição da denúncia</th>
                    <th>Status da denúncia</th>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% if(denuncias && denuncias.usuarios) {
                    denuncias.usuarios.forEach(denuncia => {%>
                        <tr>
                            <td><%= denuncia.ID_DENUNCIA %></td>
                            <td><%= denuncia.TIPO_DENUNCIA %></td>
                            <td><%= denuncia.DESCRICAO_DENUNCIA %></td>
                            <td><span class="span-status <%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'pendente' : 'concluida' %>"><%= denuncia.STATUS_DENUNCIA %></span></td>
                            <td><%= denuncia.usuario.ID_USUARIO %></td>
                            <td><%= denuncia.usuario.NICKNAME_USUARIO %></td>
                            <td><%= denuncia.usuario.EMAIL_USUARIO %></td>
                            <td>
                                <article class="btns-table">
                                    <% if(denuncia.STATUS_DENUNCIA != 'concluida'){ %>
                                        <% if(denuncia.usuario.STATUS_USUARIO == 'ativo'){ %>
                                            <form action="/inativarUser?idUser=<%= denuncia.usuario.ID_USUARIO %>" method="post">
                                            <button class="btn-icon inativar" title="Inativar usuário"><i class="bi bi-ban"></i></button>
                                            </form>
                                        <% }else { %>
                                            <form action="/ativarUser?idUser=<%= denuncia.usuario.ID_USUARIO %>" method="post">
                                                <button class="btn-icon ativar" title="Ativar usuário"><i class="bi bi-check-circle"></i></button>
                                            </form>
                                        <% } %>
                                    <% } %>
                                        <a href="/profile?idUser=<%= denuncia.usuario.ID_USUARIO %>" class="btn-icon" title="Ver usuário">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        
                                        <form action="/concluirDenunciaUsuario?idDenuncia=<%= denuncia.ID_DENUNCIA %>" method="post">
                                            <button class="btn-icon <%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'ativar' : 'inativar' %>" title="<%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'Concluir denúncia' : 'Reativar denúncia' %>">
                                                <i class="<%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'bi bi-clipboard-check' : 'bi bi-arrow-return-left' %>"></i>
                                            </button>
                                        </form>
                                        
                                </article>
                                
                            </td>
                        </tr>
                    <% })
                } %>
                
            </tbody>
        </table>
    </section>
    <section data-section="reseTable" class="admTable__container denuncia-table">
        <table id="denunciaResenhaTable" class="display">
            <caption>Resenhas denunciadas</caption>
            <thead>
                <tr>
                    <th>ID denúncia</th>
                    <th>Tipo da denúncia</th>
                    <th>Descrição da denúncia</th>
                    <th>Status da denúncia</th>
                    <th>ID da resenha</th>
                    <th>Nome da Resenha</th>
                    <th>ID Usuário</th>
                    <th>Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% if(denuncias && denuncias.resenhas) {
                    denuncias.resenhas.forEach(denuncia => {%>
                        <tr>
                            <td><%= denuncia.ID_DENUNCIA %></td>
                            <td><%= denuncia.TIPO_DENUNCIA %></td>
                            <td><%= denuncia.DESCRICAO_DENUNCIA %></td>
                            <td><span class="span-status <%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'pendente' : 'concluida' %>"><%= denuncia.STATUS_DENUNCIA %></span></td>
                            <td><%= denuncia.resenha.ID_RESENHAS %></td>
                            <td><%= denuncia.resenha.TITULO_RESENHA %></td>
                            <td><%= denuncia.resenha.usuario.ID_USUARIO %></td>
                            <td><%= denuncia.resenha.usuario.NICKNAME_USUARIO %></td>
                            <td>
                                <article class="btns-table">
                                    <% if(denuncia.STATUS_DENUNCIA != 'concluida'){ %>
                                        <% if(denuncia.resenha.STATUS_RESENHA == 'ativo'){ %>
                                            <form action="/inativarUser?idUser=" method="post">
                                                <button class="btn-icon inativar" title="Inativar usuário"><i class="bi bi-ban"></i></button>
                                            </form>
                                        <% }else { %>
                                            <form action="/ativarUser?idUser=" method="post">
                                                <button class="btn-icon ativar" title="Ativar usuário"><i class="bi bi-check-circle"></i></button>
                                            </form>
                                        <% } %>
                                    <% } %>
                                        <a href="/view-resenha?idResenha=<%= denuncia.resenha.ID_RESENHAS %>" class="btn-icon" title="Ver resenha">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        
                                        <form action="/concluirDenunciaResenha?idDenuncia=<%= denuncia.ID_DENUNCIA %>" method="post">
                                            <button class="btn-icon <%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'ativar' : 'inativar' %>" title="<%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'Concluir denúncia' : 'Reativar denúncia' %>">
                                                <i class="<%= denuncia.STATUS_DENUNCIA == 'pendente' ? 'bi bi-clipboard-check' : 'bi bi-arrow-return-left' %>"></i>
                                            </button>
                                        </form>
                                        
                                </article>
                                
                            </td>
                        </tr>
                    <% })
                } %>
            </tbody>
        </table>
    </section>
    <section data-section="fichaTable" class="admTable__container denuncia-table">
        <table id="denunciaFichaTable" class="display">
            <caption>Fichas denunciadas</caption>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section data-section="vidTable" class="admTable__container denuncia-table">
        <table id="denunciaVideoTable" class="display">
            <caption>Videos denunciados</caption>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>



<script src="./js/toggleSection.js"></script>