<% 
let classeErro={ 
  nome: "", 
  nascimento: "", 
  cpf:"", 
  contato:"", 
  usuario:"", 
  senha:"",
} 
let msgErro= {
    nome: "", 
    nascimento: "", 
    cpf:"", 
    contato:"", 
    usuario:"", 
    senha:"",
  } 
    
    if(erros) {
      erros.errors.forEach(error=>{
        classeErro[error.path] = 'invalid';
        msgErro[error.path] = error.msg
      })
    }
%>

<form action="/atualizarDados" method="post">
    <article class="input__container <%= classeErro.nome %>">

      <span class="invalid-msg smallText">
        <%= msgErro.nome %>
      </span>

      <input type="text" name="nome" id="nome" class="input__control" placeholder="Nome completo" required value="<%= valores.nome %>">
      <label for="nome">Nome completo</label>
    </article>
    <article class="input__container <%= classeErro.nascimento  %>">
      <span class="invalid-msg smallText">
        <%= msgErro.nascimento %>
      </span>
      <input type="date" name="nascimento" id="nascimento" class="input__control" placeholder="Data de nascimento" required value="<%= valores.nascimento %>">
      <label for="nascimento">Data de nascimento</label>
    </article>
    <article class="input__container disabled <%= classeErro.cpf  %>">
      <span class="invalid-msg smallText">
        <%= msgErro.cpf %>
      </span>
      <input type="text" name="cpf" id="cpf" class="input__control inputMask" placeholder="cpf" maxlength="11" required value="<%= valores.cpf %>" readonly>
      <label for="cpf">Digite seu CPF</label>
    </article>
    <article class="input__container disabled <%= classeErro.contato  %>">
      <span class="invalid-msg smallText">
        <%= msgErro.contato %>
      </span>
      <input type="tel" name="contato" id="contato" class="input__control inputMask" placeholder="contato" maxlength="14" required value="<%= valores.contato %>" readonly>
      <label for="contato">Digite seu número de telefone</label>
    </article>
    <article class="input__container <%= classeErro.usuario  %>">
      <span class="invalid-msg smallText">
        <%= msgErro.usuario %>
      </span>
      <input type="text" name="usuario" id="usuario" class="input__control" placeholder="Usuário" required value="<%= valores.usuario %>">
      <label for="usuario">Crie seu Usuário</label>
    </article>
    <button class="btn submit text p-2 mt-3">Atualizar dados</button>
    
</form>

<script src="./js/input.js"></script>
